* {
    margin: 0px;
    padding: 0;
    font-family: Oswald;
    display: inline-block;
  }
  
  .nav {
    background-color: #55f;
    
  }

  .nav__li {
    display: inline-block !important;
    padding: 10px;
  }

  .nav__div {
    display: inline-block;
  }

  .aside-search {
    display: flex;
    text-align: right;
    margin: 0px 1500px;

  }
